.col-md-6.center-div
  = form_for(landslide, :as => :landslide, :url => landslides_path, :html => { :multipart => true }) do |f|

    .form-group.hidden
      = f.label "Hazard Type:"
      = f.text_field :hazard_type, class: 'form-control'

    .form-group
      = f.label "Number of injured:"
      = f.text_field :injuries, class: 'form-control'
    .form-group
      = f.label "Country:"
      = f.select :country, CS.countries.map{|h|[h[1], h[0]]}, class: 'form-control'

    .form-group
      = f.label "Address"
      = f.text_field :address, class: 'form-control'

    .form-group
      = f.label "Landslide size:"
      = f.select :landslide_size, ['small', 'medium', 'large'], class: 'form-control'

    .form-group.hidden
      = f.label "latitude:"
      = f.text_field :latitude, class: 'form-control'

    .form-group.hidden
      = f.label "longitude:"
      = f.text_field :longitude, class: 'form-control'

    .form-group
      = f.label "Location Accuracy"
      = f.select :location_accuracy, ['Known within 1km', 'Known within 2km', 'Known greater than 2km'], class: 'form-control'

    .form-group
      = f.label "Description of location:"
      = f.text_area :location_description, class: 'form-control'

    .form-group
      = f.label "Near known location of landslide area:"
      = f.text_field :near, class: 'form-control'

    .form-group
      = f.label "Trigger:"
      = f.text_field :trigger, class: 'form-control'

    .form-group
      = f.label "Landslide Occured at:"
      = f.datetime_select :tstamp

    .form-group
      = f.fields_for :landslide_images do |image|
        = render 'landslide_image_fields', f: image

      .links
        = link_to_add_association 'Add a image', f, :landslide_images, class: 'btn btn-default btn-sm bottom20'

    .form-group
      = f.submit "Submit", class: 'btn btn-primary'
